$light_theme: (
  color_1: #0058dc,
  color_2: #0042a5,
  danger_color: red,
  text_color_1: #000000,
  text_color_2: #ffffff,
  bg_1: #ffffff,
  bg_2: linear-gradient(180deg, #0058dc 0%, #00327d 100%),
  bg_3: #e3e3e3,
);

$dark_theme: (
  color_1: #0058dc,
);
